<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework-8-TANGHuyming</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="{{theme}}">
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
</html>