<main>
    <h1>Your Profile</h1>

    <div class="identity-container">
        <h3>Your full name: {{fullName}}</h3>
        <h3>Your email: {{email}}</h3>
    </div>

    <h2>Bio</h2>
    <p class="bio">{{bio}}</p>
</main>